/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* GARETH */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.alertHeight {
    background-color: white;
    color: #bb0826;
    display: none;
    font-family: $sans;
    font-size: 1.5em;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0.9;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
    @media (max-height: 479px), (max-width: 659px) { display: block; }
    @media (min-height: 480px), (min-width: 660px) { display: none; }
    p {
        background-color: #bb0826;
        color: white;
        margin: 10em auto;
        padding: 10px 5px;
        width: 50%;
    }
}

.backgroundFaded {
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.preload {
    bottom: -9999px;
    left: -9999px;
    position: absolute;
    img {
        height: 1px;
        width: 1px;
    }
}
