/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* GARETH */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
    background-image: url(../images/backgrounds/bgrd-body.jpg);
    background-position: center center;
    @include background-size( cover );
    font-size: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    @media (max-height: 500px) { font-size: 70%; }
    @media (max-height: 560px) { font-size: 80%; }
    @media (max-height: 729px) { font-size: 90%; }
}

#title {
    background-color: #fff;
    color: #44464a;
    display: inline-block;
    font-family: $serif;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    margin-top: 40px;
    padding: 3px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.alertHeight {
    background-color: #fff;
    color: #bb0826;
    display: none;
    font-family: $sans;
    font-size: 1.5em;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0.9;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
    @media (max-height: 479px), (max-width: 659px) { display: block; }
    @media (min-height: 480px), (min-width: 660px) { display: none; }
    p {
        background-color: #bb0826;
        color: #fff;
        margin: 10em auto;
        padding: 10px 5px;
        width: 50%;
    }
}

.backgroundFaded {
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.center {
    margin: 0 auto;
    overflow: visible;
    position: relative;
    text-align: center;
    z-index: 998;
}

.ctaButtonContainer {
    display: inline-block;
    margin: auto;
    overflow: auto;
    position: relative;
    text-align: center;
}

.ctaContainerOuter {
    bottom: 7px;
    display: inline-block;
    left: 50%;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    text-align: center;
    @include transform( translate(-50%, 0) );
}

.ctaContainerInner {
    background-color: #d1b472;
    color: #fff;
    display: inline-block;
    font-family: $sans;
    font-size: 1.3em;
    font-weight: 600;
    margin: 7px auto 0;
    padding: 0.5em 1em 1em;
    text-align: center;
}

.hide-bg {
    background-image: none;
}

.preload {
    bottom: -9999px;
    left: -9999px;
    position: absolute;
    img {
        height: 1px;
        width: 1px;
    }
}
