/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* MISC */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.preview {
    @include nosel;
}

.slick-prev {
    left: -45px;
}
.slick-prev:before {
    content: url(../images/_common/left-arrow-icon.png);
}
.slick-next:before {
    content: url(../images/_common/right-arrow-icon.png);
}

.clearfix {
    @include clearfix;
}
.debug *:hover {
    outline-color: transparentize( orange, 0.7 );
    outline-offset: 0.5px;
    outline-style: solid;
    outline-width: 1px;
}
@media print {
    body {
        background: none;
    }
    .noprint {
        display: none;
    }
}
