/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* MISC */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.sharing {
    background-color: rgba(222, 222, 222, 0.2);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;

    .address {
        @include middify;
        background-color: wheat;
        height: 12em;
        min-width: 500px;
        padding: 1em 3em;
        width: 50%;
    }
}
.preview {
    @include nosel;
    @include transform( scale(1) );
    @include transform-style( preserve-3d );
}
.grow2 {
    @include nosel;
}
#sectionBuild {
    position: relative;
}
$Slick: 45px;

.slick-prev {
    left: 0 - $Slick;
    &:before {
        content: url(../images/_common/left-arrow-icon.png);
    }
}
.slick-next {
    right: 0 - $Slick;
    &:before {
        content: url(../images/_common/right-arrow-icon.png);
    }
}
.slick-prev,
.slick-next {
    height: $Slick;
    width: $Slick;
    &:before {
        font-size: $Slick;
    }
}

.dl-note {
    cursor: context-menu;
    font-size: 0.7em;
}
.clearfix {
    @include clearfix;
}
.debug *:hover {
    outline-color: transparentize( orange, 0.7 );
    outline-offset: 0.5px;
    outline-style: solid;
    outline-width: 1px;
}
@media print {
    body {
        background: none;
    }
    .noprint {
        display: none;
    }
}
