@charset "UTF-8";
@import url("/mfal/lib/fonts/archer.ssm.css");
@import url("/mfal/lib/fonts/myriad.css");
body {
    overflow:hidden;
    margin:0;
    padding:0;
    background-image:url(../images/backgrounds/bgrd-body.jpg);
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    font-size:100%;
}


#title {
    position:relative;
    display: inline-block;;
    font-family: "Archer SSm A", "Archer SSm B", serif;
    font-weight: 600;
    color:#44464a;
    background-color:#ffffff;
    text-align:center;
    font-size:1.5em;
    width:100%;
    margin:0px;
    margin-top:40px;
    padding:3px;
    z-index:2;
}
#sectionIntro h1 {
    display:block;
    padding:0;
    margin: 80px auto 0px auto;
    font-family: "Archer SSm A", "Archer SSm B", serif;
    font-size:3em;
    font-weight: 600;
    color:#ffffff;
    text-align:center;
}
#sectionIntro h2 {
    display:block;
    padding:0;
    font-family: "Archer SSm A", "Archer SSm B", serif;
    font-size:1.5em;
    font-weight: 400;
    color:#ffffff;
    text-align:center;
}
#sectionIntro h3 {
    display:block;
    padding:0;
    font-family: "myriad-pro", sans-serif;
    font-size:1.2em;
    font-weight: 400;
    color:#ffffff;
    text-align:center;
}

.alertHeight {
    position:absolute;
    background-color:#ffffff;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    padding:0px;
    margin:0px;
    color:#bb0826;
    font-family: Verdana, sans-serif;
    font-size:1.5em;
    text-align:center;
    opacity:.9;
    z-index:999;
    display:none;
}
.alertHeight p {
    width:50%;
    margin:10em auto;
    background-color:#bb0826;
    color:#ffffff;
    padding:10px 5px;
}

.backgroundFaded {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    margin:0;
    padding:0;
    opacity:1;
    z-index:0;
}

.center {
    width:auto;
    display:inline-block;
    margin:0px auto;
    text-align:center;
    z-index:998;
    overflow:visible;
}


#sectionBuild .ctaButton {
    padding:.5em 1em;
    margin:.5em;
    width:auto;
    background-color:#dedabe;
    color:#000000;
    font-family: "myriad-pro", sans-serif;
    font-weight:400;
    font-size:.7em;
    text-decoration:none;
    float:left;
}
#sectionBuild .ctaButton a {
    color:#000000;
    text-decoration:none;
}
.ctaButtonContainer {
    position: relative;
    display:inline-block;
    text-align:center;
    overflow:auto;
    margin:auto;
}
.ctaContainerOuter {
    position:absolute;
    display: inline-block;
    bottom:7px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin:0px auto;
    text-align:center;
    opacity:0;
}
.ctaContainerInner {
    display: inline-block;
    margin:7px auto 0 auto;
    padding:.5em 1em 1em 1em;
    background-color:#d1b472;
    color:#ffffff;
    font-family: "myriad-pro", sans-serif;
    font-weight:600;
    font-size: 1.3em;
    text-align:center;
}

#sectionIntro .ctaButton {
    display: inline-block;
    padding:.5em 1em;
    margin:.5em;
    width:auto;
    border-radius: 3px;
    background-color:#006A85;
    color:#ffffff;
    font-family: "myriad-pro", sans-serif;
    font-weight:400;
    font-size:1em;
    text-decoration:none;
}
#sectionIntro .ctaButton a {
    color:#ffffff;
    text-decoration:none;
}
.footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height: auto;
    display:block;
    background-color:#44464a;
    color:#ffffff;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    padding:10px 20px;
    text-align:center;
    z-index:1000;
}

.header {
    position:fixed;
    top:0px;
    height:40px;
    margin:0;
    padding:0;
    width:100%;
    background-color:#bb0826;
    background-image: url("../images/_common/wf-logo-bg.png");
    background-repeat: repeat-x;
    text-align:center;
    z-index:998;
}

.header img {
    width:300px;
    height:40px;
    margin:0 auto;
}

.hide-bg {
    background-image: none;
}

#introPonyPic {
    display:block;
    margin: auto;
}
#introPonyPic img {
    width:15em;
    height:auto;
}

#layer-stkr {
    /*positioning is now handles in the custom classes that follow below*/
}

.preload {
    position:absolute;
    left:-9999px;
    bottom:-9999px;
}
.preload img {
    width:1px;
    height:1px;
}

.sticker0 {
    width:0% !important;
    height:auto !important;
}
.sticker1 {
    width:35% !important;
    height:auto !important;
    left:52% !important;
    top:62% !important;
}
.sticker2 {
    width:35% !important;
    height:auto !important;
    left:52% !important;
    top:-20% !important;
}
.sticker3 {
    width:45% !important;
    height:auto !important;
    left:-33% !important;
    top:-20% !important;
}
.sticker4 {
    width:35% !important;
    height:auto !important;
    left:-42% !important;
    top:-14% !important;
}

.preview {
    /* Firefox */
    height: -moz-calc(100% - 280px);
    /* WebKit */
    height: -webkit-calc(100% - 280px);
    /* Opera */
    height: -o-calc(100% - 280px);
    /* Standard */
    height: calc(100% - 280px);
    width:100%;
    margin:10px auto 0 auto;
    text-align:center;
    overflow:hidden;
    position:relative;
    z-index:10;
}
.preview div {
    position:absolute;
    height: 100%;
    width:100%;
    overflow:hidden;
    text-align:center;
    margin:0 auto;
    top:0px;
}

.preview img {
    position:relative;
    display:block;
    height:100%;
    width:auto;
    margin:0px auto;
}
.preview #stickerDiv { overflow:visible;}

.previewScaled {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


.previewScaled {
    width:60%;
    height:0px;
    padding-bottom:40%;
    border:2px solid #ffffff;
    top:0px;
    opacity:1;
}

.previewScaled100pc {
    position:fixed;
    width:100% !important;
    padding-bottom:66.6667% !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.previewScaled div {
    width:74%;
    height:74%;
    margin:10%;
    opacity:1;
}

.outerSelector {
    position:fixed;
    width:100%;
    height:auto;
    padding:20px 0;
    margin: 0 0 0 -50%;
    overflow:hidden;
    bottom:20px;
    left:50%;
    z-index:100;
}
#previousArrow {
    margin-bottom:7px;
}
.progress {
    position: fixed;
    width:170px;
    background:none;
    top:85px;
    left:10px;
    padding: 5px 10px 10px 10px;
    font-family:Verdana, Arial, sans-serif;
    font-size:1em;
    color:#ffffff;
    height:auto;
    overflow: none;
    z-index:2;
}

.progressItem {
    background-image: url("../images/_common/check-white.png");
    background-size: 1em 1em;
    background-position:8px center;
    background-repeat: no-repeat;
    width:100%;
    height:18px;
    overflow:none;
    display:inline-block;
    padding: 5% 2em;
    position:relative;
    transform-origin: center left;
    opacity:.4;
}

#sectionIntro { text-align:center; color:#ffffff;}
#sectionIntroContent {width:50%; margin:0 auto;}
#sectionBuild { opacity:0; }

.selector {
    width:550px;
    margin: 0px auto 10px auto;
    padding: 0px;
    height: 100px;
    position:relative;
}

.step {
    display:inline-block;
    height:140px;
    width:100%;
    margin:0px auto;
    padding:20px 0;
    max-width:800px;
    position:absolute;
    bottom:-1000px;
    opacity:0;
    overflow:visible;
}

#step0, #step10 {
    text-align:center;
}

.step img {
    width:100px;
    height:100px;
    background: rgb(237, 237, 237); /*fallback for non-alpha supported browsers */
    background: rgba(237, 237, 237, .3);
    background-image:url(../images/_common/thumbBG_tile300bg.jpg);
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}


#stepName {
    width:150px;
    color:#fff;
    background-color:#F60;
    margin: 2em 0 0 0;
    padding: .5em 1em;
    font-family:Verdana, Geneva, sans-serif;
    font-size:.8em;
    font-weight: bold;
    text-transform: uppercase;
    z-index:998;
}


.grow {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.grow2 {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.grow2 {
    /*effects for current progressItem*/
    opacity:1;
    z-index:998;
    cursor: pointer;
}

.pushDown, .pushDownUndo, .pushLeft, .pushLeftUndo, .pushUp, .pushUpUndo, .pushRight, .pushRightUndo {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.pushDown {
    -webkit-transform: translateY(250px);
    -moz-transform: translateY(250px);
    -ms-transform: translateY(250px);
    -o-transform: translateY(250px);
    transform: translateY(250px);
    opacity:1;
}
.pushDownUndo {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity:1;
}
.pushUp {
    -webkit-transform: translateY(-250px);
    -moz-transform: translateY(-250px);
    -ms-transform: translateY(-250px);
    -o-transform: translateY(-250px);
    transform: translateY(-250px);
    opacity:0;
}
.pushUpUndo {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity:1;
}
.pushLeft {
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
    opacity:0;
}
.pushLeftUndo {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity:1;
}
.pushRight {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px);
    opacity:0;
}
.pushRightUndo {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity:1;
}

@media screen and (max-width: 479px) {
    .progress {
        display:none;
    }
}
@media screen and (max-width: 989px) {
    .progress {
        width:120px;
        left:5px;
        font-size:.6em;
    }
    .progressItem {
        height:10px;
    }
}

@media screen and (max-height: 729px) {
    .previewScaled {
        width:45%;
        height:0px;
        padding-bottom:30%;
    }
    body {
        font-size:90%
    }
}
@media screen and (max-height: 560px) {
    .previewScaled {
        width:42%;
        height:0px;
        padding-bottom:28%;
    }
    body {
        font-size:80%
    }
}

@media screen and (max-height: 500px) {
    body {
        font-size:70%
    }
}

@media screen and (min-height: 730px) {
    .previewScaled {
        width:60%;
        height:0px;
        padding-bottom:40%;
    }
}

@media screen and (max-height: 479px), screen and (max-width: 659px) {
    .alertHeight {
        display:block;
    }
}
@media screen and (min-height: 480px), screen and (min-width: 660px {
    .alertHeight {
        display:none;
    }
}