@charset "UTF-8";

@import "/mfal/lib/fonts/archer.ssm.css";

@import "/mfal/lib/fonts/myriad.css";

body {
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-image: url(../images/backgrounds/bgrd-body.jpg);
    background-position: center center;
    background-size: cover;
    font-size: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#title {
    background-color: #fff;
    color: #44464a;
    display: inline-block;
    font-family: "Archer SSm A","Archer SSm B",serif;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    margin-top: 40px;
    padding: 3px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
}

#sectionIntro h1 {
    color: #fff;
    display: block;
    font-family: "Archer SSm A","Archer SSm B",serif;
    font-size: 3em;
    font-weight: 600;
    margin: 80px auto 0;
    padding: 0;
    text-align: center;
}

#sectionIntro h2 {
    color: #fff;
    display: block;
    font-family: "Archer SSm A","Archer SSm B",serif;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0;
    text-align: center;
}

#sectionIntro h3 {
    color: #fff;
    display: block;
    font-family: "myriad-pro",sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    padding: 0;
    text-align: center;
}

.alertHeight {
    background-color: #fff;
    color: #bb0826;
    display: none;
    font-family: Verdana,sans-serif;
    font-size: 1.5em;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: .9;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
}

.alertHeight p {
    background-color: #bb0826;
    color: #fff;
    margin: 10em auto;
    padding: 10px 5px;
    width: 50%;
}

.backgroundFaded {
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.center {
    margin: 0 auto;
    overflow: visible;
    position: relative;
    text-align: center;
    z-index: 998;
}

#sectionBuild .ctaButton {
    background-color: #dedabe;
    color: #000;
    float: left;
    font-family: "myriad-pro",sans-serif;
    font-size: .7em;
    font-weight: 400;
    margin: .5em;
    padding: .5em 1em;
    text-decoration: none;
    width: auto;
}

#sectionBuild .ctaButton a {
    color: #000;
    text-decoration: none;
}

.ctaButtonContainer {
    display: inline-block;
    margin: auto;
    overflow: auto;
    position: relative;
    text-align: center;
}

.ctaContainerOuter {
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    bottom: 7px;
    display: inline-block;
    left: 50%;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
}

.ctaContainerInner {
    background-color: #d1b472;
    color: #fff;
    display: inline-block;
    font-family: "myriad-pro",sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    margin: 7px auto 0;
    padding: .5em 1em 1em;
    text-align: center;
}

#sectionIntro .ctaButton {
    background-color: #006A85;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: "myriad-pro",sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: .5em;
    padding: .5em 1em;
    text-decoration: none;
    width: auto;
}

#sectionIntro .ctaButton a {
    color: #fff;
    text-decoration: none;
}

.footer {
    background-color: #44464a;
    bottom: 0;
    color: #fff;
    display: block;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 11px;
    height: auto;
    left: 0;
    padding: 10px 20px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

.header {
    background-color: #bb0826;
    background-image: url(../images/_common/wf-logo-bg.png);
    background-repeat: repeat-x;
    height: 40px;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 998;
}

.header img {
    height: 40px;
    margin: 0 auto;
    width: 300px;
}

.hide-bg {
    background-image: none;
}

#introPonyPic {
    display: block;
    margin: auto;
}

#introPonyPic img {
    height: auto;
    width: 15em;
}

.preload {
    bottom: -9999px;
    left: -9999px;
    position: absolute;
}

.preload img {
    height: 1px;
    width: 1px;
}

.sticker0 {
    height: auto !important;
    width: 0 !important;
}

.sticker1 {
    height: auto !important;
    left: 52% !important;
    top: 62% !important;
    width: 35% !important;
}

.sticker2 {
    height: auto !important;
    left: 52% !important;
    top: -20% !important;
    width: 35% !important;
}

.sticker3 {
    height: auto !important;
    left: -33% !important;
    top: -20% !important;
    width: 45% !important;
}

.sticker4 {
    height: auto !important;
    left: -42% !important;
    top: -14% !important;
    width: 35% !important;
}

.preview {
    height: -moz-calc(100% - 280px);
    height: -webkit-calc(100% - 280px);
    height: -o-calc(100% - 280px);
    height: calc(100% - 280px);
    margin: 10px auto 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.preview div {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.preview img {
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.preview #stickerDiv {
    overflow: visible;
}

.previewScaled {
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    border: 2px solid #fff;
    height: 0;
    opacity: 1;
    padding-bottom: 40%;
    top: 0;
    transition: all .5s ease-in-out;
    width: 60%;
}

.previewScaled100pc {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding-bottom: 66.6667% !important;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100% !important;
}

.previewScaled div {
    height: 74%;
    margin: 10%;
    opacity: 1;
    width: 74%;
}

.outerSelector {
    bottom: 20px;
    height: auto;
    left: 50%;
    margin: 0 0 0 -50%;
    overflow: hidden;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#previousArrow {
    margin-bottom: 7px;
}

.progress {
    background: none;
    color: #fff;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    height: auto;
    left: 10px;
    overflow: hidden;
    padding: 5px 10px 10px;
    position: fixed;
    top: 85px;
    width: 170px;
    z-index: 2;
}

.progressItem {
    background-image: url(../images/_common/check-white.png);
    background-position: 8px center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    display: inline-block;
    height: 18px;
    opacity: .4;
    overflow: hidden;
    padding: 5% 2em;
    position: relative;
    width: 100%;
}

#sectionIntro {
    color: #fff;
    text-align: center;
}

#sectionIntroContent {
    margin: 0 auto;
    width: 50%;
}

#sectionBuild {
    opacity: 0;
}

.selector {
    height: 100px;
    margin: 0 auto 10px;
    padding: 0;
    position: relative;
    width: 550px;
}

.step {
    bottom: -1000px;
    display: inline-block;
    height: 140px;
    margin: 0 auto;
    max-width: 800px;
    opacity: 0;
    overflow: visible;
    padding: 20px 0;
    position: absolute;
    width: 100%;
}

#step0, #step10 {
    text-align: center;
}

.step img {
    background: #ededed;
    background: rgba(237, 237, 237, 0.3);
    background-image: url(../images/_common/thumbBG_tile300bg.jpg);
    cursor: pointer;
    height: 100px;
    margin: 0;
    padding: 0;
    width: 100px;
}

#stepName {
    background-color: #F60;
    color: #fff;
    font-family: Verdana,Geneva,sans-serif;
    font-size: .8em;
    font-weight: 700;
    margin: 2em 0 0;
    padding: .5em 1em;
    text-transform: uppercase;
    width: 150px;
    z-index: 998;
}

.grow {
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.grow:hover {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.grow2 {
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    cursor: pointer;
    opacity: 1;
    transition: all .2s ease-in-out;
    z-index: 998;
}

.pushDown, .pushDownUndo, .pushLeft, .pushLeftUndo, .pushUp, .pushUpUndo, .pushRight, .pushRightUndo {
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.pushDown {
    -moz-transform: translateY(250px);
    -ms-transform: translateY(250px);
    -o-transform: translateY(250px);
    -webkit-transform: translateY(250px);
    opacity: 1;
    transform: translateY(250px);
}

.pushDownUndo {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
    transform: translateY(0px);
}

.pushUp {
    -moz-transform: translateY(-250px);
    -ms-transform: translateY(-250px);
    -o-transform: translateY(-250px);
    -webkit-transform: translateY(-250px);
    opacity: 0;
    transform: translateY(-250px);
}

.pushUpUndo {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
    transform: translateY(0px);
}

.pushLeft {
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    opacity: 0;
    transform: translateX(-250px);
}

.pushLeftUndo {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
    transform: translateX(0px);
}

.pushRight {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    opacity: 0;
    transform: translateX(250px);
}

.pushRightUndo {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
    transform: translateX(0px);
}

@media screen and (max-width: 479px) {
    .progress {
        display: none;
    }
}

@media screen and (max-width: 989px) {
    .progress {
        font-size: .6em;
        left: 5px;
        width: 120px;
    }

    .progressItem {
        height: 10px;
    }
}

@media screen and (max-height: 729px) {
    .previewScaled {
        height: 0;
        padding-bottom: 30%;
        width: 45%;
    }

    body {
        font-size: 90%;
    }
}

@media screen and (max-height: 560px) {
    .previewScaled {
        height: 0;
        padding-bottom: 28%;
        width: 42%;
    }

    body {
        font-size: 80%;
    }
}

@media screen and (max-height: 500px) {
    body {
        font-size: 70%;
    }
}

@media screen and (min-height: 730px) {
    .previewScaled {
        height: 0;
        padding-bottom: 40%;
        width: 60%;
    }
}

@media screen and (max-height: 479px), screen and (max-width: 659px) {
    .alertHeight {
        display: block;
    }
}

@media screen and (min-height: 480px), screen and (min-width: 660px) {
    .alertHeight {
        display: none;
    }
}
