@media screen and (max-width:767px) {
    .debug body {
        background-color: #faf !important;
    }

    .w-hidden-main {
        display:inherit!important
    }
    .w-hidden-medium {
        display:inherit!important
    }
    .w-hidden-small {
        display:none!important
    }
    .w-row, .w-container .w-row {
        margin-left:0;
        margin-right:0
    }

    .w-nav[data-collapse=small] .w-dropdown, .w-nav[data-collapse=small] .w-dropdown-toggle {
        display:block
    }
    .w-nav[data-collapse=small] .w-dropdown-list {
        position:static
    }
    .w-nav-brand {
        padding-left:10px
    }

    .w-nav[data-collapse=small] .w-nav-menu {
        display:none
    }
    .w-nav[data-collapse=small] .w-nav-button {
        display:block
    }
    .w-nav-brand {
        padding-left:10px
    }
}


