// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Base */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html {
    font-family: $serif;
    font-size: 10px;
    overflow: hidden;
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
