// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Base */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html {
    font-family: $serif;
    font-size: 10px;
    overflow: hidden;
}
body {
    background-color: black;
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    color: #333;
    font-family: 'myriad-pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.45em;
    height: 100%;
    line-height: 23px;
    min-height: 680px;
}
button {
    border-radius: 2px;
    font-weight: 600;
    padding: 0.5em 1.25em;
}
h1 {
    color: $lite;
    font-family: $serif;
    font-size: 2.3em;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 20px;
}
h2 {
    color: $lite;
    display: block;
    font-family: $serif;
    font-size: 3em;
    font-weight: 800;
    line-height: 1.2;
    margin: auto;
    overflow-x: visible;
    overflow-y: visible;
    padding: 10px;
    position: static;
    text-transform: uppercase;
    width: auto;
}
h3 {
    color: $lite;
    font-family: $serif;
    font-size: 2.4em;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}
h4 {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 10px;
}
h5 {
    font-size: 1em;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h6 {
    font-size: 0.8em;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
p {
    margin-bottom: 5px;
}
a {
    color: #00e;
    cursor: pointer;
    position: static;
}
div {
    box-sizing: border-box;
}
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
