// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Build */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#sectionBuild {
    height: 100%;
    opacity: 0;

    .ctaButton {
        background-color: #dedabe;
        color: #000;
        float: left;
        font-family: "myriad-pro",sans-serif;
        font-size: 0.7em;
        font-weight: 400;
        margin: 0.5em;
        padding: 0.5em 1em;
        text-decoration: none;
        width: auto;
    }
    .ctaButton a {
        color: #000;
        text-decoration: none;
    }

    .preview {
        height: calc(100% - 280px);
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 10;

        div {
            height: 100%;
            margin: 0 auto;
            overflow: hidden;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
        }
        img {
            display: block;
            height: 100%;
            margin: 0 auto;
            position: relative;
            width: auto;
        }
    }
    .previewScaled {
        @include transition( all 0.5s ease-in-out );
        box-shadow: 0px 0px 0px 2px #ffffff inset; /* (chnaged border solution -- created a 2px inset border rather than outside border – to address the sometimes visible space between bottom of image and bottom border) */
        height: 0;
        opacity: 1;
        padding-bottom: 40%;
        top: 5px; /* to give separation between title bar and preview */
        width: 60%;

        @media (max-height: 560px) {
            padding-bottom: 28%;
            width: 42%;
        }
        @media (max-height: 729px) {
            padding-bottom: 30%;
            width: 45%;
        }
        @media (min-height: 730px) {
            padding-bottom: 40%;
            width: 60%;
        }
        div {
            height: 74%;
            margin: 10%;
            opacity: 1;
            width: 74%;
        }
    }
    .previewScaled100pc {
        //@include transform( translateY(-50%) );
        padding-bottom: 66.6667% !important;
        position: fixed;
        top: 0%;
        width: 100% !important;
    }

    .progress {
        background: none;
        color: #fff;
        font-family: Verdana,Arial,sans-serif;
        font-size: 1em;
        height: auto;
        left: 10px;
        overflow: hidden;
        padding: 5px 10px 10px;
        position: fixed;
        top: 85px;
        width: 170px;
        z-index: 2;
        @media (max-width: 479px) {
            display: none;
        }
        @media (max-width: 989px) {
            font-size: 0.6em;
            left: 5px;
            width: 120px;
        }
    }
    .progressItem {
        background-image: url(../images/_common/check-white.png);
        background-position: 8px center;
        background-repeat: no-repeat;
        background-size: 1em 1em;
        display: inline-block;
        height: 18px;
        @media (max-width: 989px) { height: 10px; }
        margin: 0.5em;
        opacity: 0.4;
        overflow: visible; /* (to address some menu item text being cut off, notably the word ‘background’ - the bottom of the ‘g’) */
        padding-left: 2em;
        position: relative;
        width: 100%;
    }

    #stickerDiv {
        height: 100%;
        margin: 0;
        overflow: visible;
        width: 100%;
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
