// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ/_build.scss */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#Build {
    height: 100%;
    opacity: 0;
    position: relative;
}

#ProgressBar {
    background: none;
    color: white;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    overflow: hidden;
    position: fixed;
    top: 40px;
    width: 15em;
    z-index: 12;
    @media (max-width: 989px) {
        font-size: 0.8em;
        h2 {
            display: none !important;
        }
    }
    @media (max-width: 539px) {
        display: none;
    }
    .item {
        @include nosel;
        background-image: url(../images/_common/check-white.png);
        background-position: 8px center;
        background-repeat: no-repeat;
        background-size: 0.8em;
        cursor: pointer;
        display: inline-block;
        margin: 0.5em;
        opacity: 0.4;
        padding-left: 2em;
        width: 100%;
        &:hover:not(.activate) {
            text-decoration: underline;
        }
        &:first-child {
            background: none;
            font-family: $serif;
            font-size: 1.2em;
            font-weight: bold;
            margin-top: 0;
            opacity: 1;
            padding-left: 0;
        }
        h2 {
            background-color: white;
            border-radius: 0.3rem;
            color: #44464a;
            display: inline-block;
            font-size: 1.2em;
            margin: 0 0 0 -1em;
            padding: 0.5em 1em;
            z-index: 2;
        }
    }
}
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
