// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Build */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.ctaButtonContainer {
    display: inline-block;
    margin: auto;
    overflow: auto;
    position: relative;
    text-align: center;
}

.ctaContainerOuter {
    bottom: 7px;
    display: inline-block;
    left: 50%;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    text-align: center;
    @include transform( translate(-50%, 0) );
}

.ctaContainerInner {
    background-color: #d1b472;
    color: #fff;
    display: inline-block;
    font-family: $sans;
    font-size: 1.3em;
    font-weight: 600;
    margin: 7px auto 0;
    padding: 0.5em 1em 1em;
    text-align: center;
}

#sectionBuild {

    .ctaButton {
        background-color: #dedabe;
        color: #000;
        float: left;
        font-family: "myriad-pro",sans-serif;
        font-size: 0.7em;
        font-weight: 400;
        margin: 0.5em;
        padding: 0.5em 1em;
        text-decoration: none;
        width: auto;
    }
    .ctaButton a {
        color: #000;
        text-decoration: none;
    }

}
#sectionIntro {
    .ctaButton {
        background-color: #006A85;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        font-family: "myriad-pro",sans-serif;
        font-size: 1em;
        font-weight: 400;
        margin: 0.5em;
        padding: 0.5em 1em;
        text-decoration: none;
        width: auto;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
