// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ / Intro */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#sectionIntro {
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 1;

    div {
        margin: 0 auto;
        width: 50%;
    }
    h1 {
        color: #fff;
        display: block;
        font-family: "Archer SSm A","Archer SSm B",serif;
        font-size: 3em;
        font-weight: 600;
        margin: 80px auto 0;
        padding: 0;
        text-align: center;
    }
    h2 {
        color: #fff;
        display: block;
        font-family: "Archer SSm A","Archer SSm B",serif;
        font-size: 1.5em;
        font-weight: 400;
        padding: 0;
        text-align: center;
    }
    h3 {
        color: #fff;
        display: block;
        font-family: "myriad-pro",sans-serif;
        font-size: 1.2em;
        font-weight: 400;
        padding: 0;
        text-align: center;
    }
    .introPonyPic {
        display: block;
        margin: auto;
        img {
            height: auto;
            width: 15em;
        }
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
