// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* PROJ/_preview.scss */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#PreviewPony {
  @include nosel;
  @include transform( scale(1) );
  @include transform-style( preserve-3d );
  height: calc(100% - 280px);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 10;
  &.previewScaled {
    @include transition( all 0.5s ease-in-out );
    box-shadow: 0 0 1px 1px white inset;
    height: 0;
    opacity: 1;
    padding-bottom: 40%;
    top: 3rem; /* to give separation between title bar and preview */
    width: 60%;

    @media (max-height: 560px) {
      padding-bottom: 28%;
      width: 42%;
    }
    @media (max-height: 729px) {
      padding-bottom: 30%;
      width: 45%;
    }
    @media (min-height: 730px) {
      padding-bottom: 40%;
      width: 60%;
    }
    div {
      height: 74%;
      margin: 10%;
      opacity: 1;
      width: 74%;
    }
  }
  &.previewScaled100pc {
    //@include transform( translateY(-50%) );
    padding-bottom: 66.6667% !important;
    //position: fixed;
    top: 0%;
    width: 100% !important;
  }

  div {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }
  img {
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: auto;
  }

  #Sticker {
    height: 100%;
    margin: 0;
    overflow: visible;
    width: 100%;
  }
}
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
